//Gooogle font used in logo
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Montserrat:400,400i,700&display=swap');

//Custom Colors
$green: 	rgba(84, 195, 52, 1);
$yellow:	rgba(245, 226, 12, 1);

$primary: $green;
$secondary: $yellow;
$tertiary: white;

//Custon Vars
$stylized-font	: 'Josefin Slab', serif;
$body-font		: 'Montserrat', sans-serif;
$nav-size		: 1.15rem;

//Bootstrap Overrides
a:focus, buttona:focus{ box-shadow: none!important; }

//Buttons
.btn-primary, .bg-primary{ background: $primary; border: 2px solid $primary; &:hover, &.btn-primary:not(:disabled):not(.disabled):active{ background: rgba($primary, .25); border-color: $primary; } }
.btn-secondary{ background: $secondary; border: 2px solid $secondary; &:hover, &.btn-secondary:not(:disabled):not(.disabled):active{ background: rgba($secondary, .25); border-color: $secondary; } }
.btn-tertiary{ background: $tertiary; border: 2px solid $tertiary; color: gray; &:hover, &.btn-tertiary:not(:disabled):not(.disabled):active{ background: rgba($tertiary, .25); border-color: $tertiary; } }
.btn-outline-primary{ border: 2px solid $primary; color: $primary; background: rgba(0,0,0,.25); &:hover, &.btn-outline-primary:not(:disabled):not(.disabled):active{ background: $primary; border-color: $primary; } }
.btn-outline-secondary{ border: 2px solid $secondary; color: $secondary; background: rgba(0,0,0,.15); &:hover, &.btn-outline-secondary:not(:disabled):not(.disabled):active{ background: $secondary; border-color: $secondary; } }
.btn-outline-tertiary{ border: 2px solid $tertiary; color: $tertiary; background: rgba(0,0,0,.15); &:hover, &.btn-outline-tertiary:not(:disabled):not(.disabled):active{ background: $tertiary; border-color: $tertiary; color: gray; } }

//Tooltips
.tooltip-inner { background-color: white!important; color: $primary; }
.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before { border-left-color: white!important; }
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before { border-top-color: white !important; }
.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before { border-right-color: white !important; }
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before { border-bottom-color: white !important; }

//Globals
body{ font-family: $body-font; color: gray; }
h1,h2,h3,h4,h5,h6{ font-family: $stylized-font; color: $green; padding: 0; margin: 0; }
a, .btn-link{ color: $green; &:hover{ color: $green; } }

//colors:
.primary{ background: $primary; border: 2px solid $primary; }
.secondary{ background: $secondary; border: 2px solid $secondary; }
.tertiary{ background: $tertiary; border: 2px solid $tertiary; }
.text-primary{ color: $primary!important; }
.text-secondary{ color: $secondary!important; }
.text-tertiary{ color: $tertiary!important; }

//opacity
.opacity-5{ opacity: .5; }

//Overlay
.bg-overlay-25{ background: rgba(0,0,0,.25); }
.bg-overlay-35{ background: rgba(0,0,0,.35); }
.bg-overlay-50{ background: rgba(0,0,0,.5); }

//Custom Margin & Padding
.mt-6, .my-6{ margin-top: 5rem!important; }
.pt-6, .py-6{ padding-top: 5rem!important; }
.pb-6, .py-6{ padding-bottom: 5rem!important; }


.wp-block-pullquote{ 
		
	font-family: $stylized-font; 
	margin: 0rem 0 0; 
	
	blockquote{
		
		margin: 0;
		
		cite{
			text-align: right;
		}
		
	}
	
}

//Featured Image
.featured{
	
	.featured_title{ color: white; font-size: 4rem; text-shadow: 0px 0px 15px rgba(0,0,0, .7); font-family: $body-font; }
	
	.featured_copy, div.featured_copy p{ font-size: 1.2rem; color: white; text-shadow: 0px 0px 15px rgba(0,0,0, .7); }
	
	.featured_buttons a{ margin: 0 20px; }
	
	.page-template-default:not(.home) & { height: 70vh!important; }
	
}

header{

	nav{
		
		ul li a{
			color: $green; font-size: $nav-size; text-transform: uppercase;
			
			&:hover{
				color: white;
			}
			
			&.active{
				background-color: $green!important;
			}
		}
		
	}
	
}

//News/Cards
.card{
	
	border: none!important;
	
	.category_icon{ right: 0; }
	
	&:hover .category_icon{ opacity: 1; }
	
}


//Counter
.counter{
	
	.count-box{
		
		border-right: 1px solid $primary;
		
		&:last-of-type{ border-right: none; }		
		
		h4{ font-family: $body-font; font-size: 4rem; }
		h5{ font-family: $body-font; font-size: 1.25rem; }
		
	}
	
}

//Content WYSIWYG
.alignleft{	float: left; margin-right: 1rem; margin-bottom: 1rem; }
.alignright{ float: right; margin-left: 1rem; margin-bottom: 1rem; }
.aligncenter { display: block; margin: 0px auto 1rem; text-align: center; }


:focus { outline: none; }

form{
	
	input, textarea{ border: none!important; background: transparent; }
	
	li{
		position: relative; margin-top: 30px!important; padding-right: 0px!important;
		
		input{
						
			transition: all .2s ease; 
			
		}
		
		textarea{ margin-bottom: -8px; }		
		
		label{
			
			color: $secondary; position: absolute; top: 10px; left: 5px; transition: all 0.3s ease; font-weight: 400!important;
			
			.gfield_required{ color: $secondary!important; }
			
		}
		
		input, textarea{ background: rgba(white, .04); color: white;  }
		
		.form_border{ 
			height: 0; width: 0; background: $secondary; position: absolute; bottom: -2px; transition: all .2s ease; 
		}
		
		&.hasfocus label, &.hasfocus label .gfield_required{ top: -20px; font-size: 12px!important; color: rgba(white, .2)!important;  }
		&.hasfocus .form_border{ height: 3px; width: 100%; }
		&.hascontent .form_border{ width: 0; }
				
	}
	
	input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, 
	textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus{
		border: none; -webkit-text-fill-color: white; -webkit-box-shadow: none; transition: background-color 5000s ease-in-out 0s;
	}
	
	.gform_wrapper & li.gf_left_half{ width: 49%!important; margin-right: 1%!important; }
	.gform_wrapper & li.gf_right_half{ width: 49%!important; margin-left: 1%!important; }
	
}

    
    
    
    
    
    
    
    
    
    
    
    














